.table-responsive {
  overflow-x: auto;
}

table {
  width: 100%;
  margin-top: 20px;
  border: 2px solid black;
  transition: ease-in-out;
  transition-duration: 2s;
}

#data th,
#data td {
  border: 0.2px solid black;
  padding: 8px;
  text-align: left;
  font-size: 12px
}

#data th {
  background-color: purple;
  color: white;
}

#data tr:nth-child(even) {
  background-color: lightgray;
}

.my-button {
  width: 100%;
  background-color: purple;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
}


@media (max-width: 767px) {
    #data th,
    #data td {
      border: 0.2px solid black;
      padding: 2px;
      text-align: left;
      font-size: 9.5px;
    }
}